<ion-content class="background" [fullscreen]="true">
  <ion-title class="ion-padding-top">
    <ion-label class="ion-text-center">
      <div>
        <ion-img class="imagena" src="assets/img/err.png"></ion-img>
      </div>
      <h1 class="cambiacolor">No fue posible recuperar tu contraseña</h1>
      <ion-button shape="block" (click)="home()">Ingresar</ion-button>
    </ion-label>
  </ion-title>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>